{% extends 'core/base.html' %}

{% block title %}Bandeja de Entrada{% endblock %}

{% block content %}
<br>
<h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-blue-800 dark:text-gray-400">
    Bandeja de Entrada
</h1>

<h2 class="flex flex-row flex-nowrap items-center mt-24">
    <span class="flex-grow block border-t border-black"></span>
    <span class="flex-none block mx-4 px-4 py-2.5 text-xl rounded leading-none font-medium bg-black text-white">
        Mis chats
    </span>
    <span class="flex-grow block border-t border-black"></span>
</h2>

<br>

<div class="space-y-6">
    {% for comunicacion in comunicacion %}
        <a href="{% url 'comunicacion:detalles' comunicacion.id %}">
            <div class="p-6 flex bg-gray-100 rounded-xl">
                <div class="pr-6">
                    <img src="{{ comunicacion.libro.imagen.url }}" class="w-20 rounded-xl">
                </div>

                <div>
                    {% for miembro in comunicacion.miembros.all %}
                        {% if miembro != request.user %}
                            <p class="mb-4">
                                <strong>{{ miembro.username }}</strong> | {{ comunicacion.modificado_en }}
                            </p>
                            <p>{{ comunicacion.libro.nombre }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
