{% extends 'core/base.html' %}

{% block title %}Conversacion{% endblock %}

{% block content %}
<h1 class="flex items-center text-5xl font-extrabold dark:text-black">Chat</h1>

<br>

<div class="space-y-6">
    {% for mensaje in comunicacion.mensajes.all %}
        <div class="p-6 flex {% if mensaje.creado_por == request.user %}bg-blue-100{% else %}bg-gray-100{% endif %} rounded-xl">
            <div>
                <p class="mb-4"><strong>{{ mensaje.creado_por.username }}</strong> @ {{ mensaje.creado_en }}</p>
                <p>{{ mensaje.contenido }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="w-screen my-10 h-screen flex justify-center items-center dark:bg-blue-900">
    <div class="max-w-7xl dark:bg-gray-950 dark:text-white">
        <h1 class="text-xl mb-4 tracking-wider font-lighter text-gray-900 dark:text-gray-200">Mensaje</h1>

        <form method="post" action="." class="w-full p-4 rounded shadow-md">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-4 px-6 bg-blue-950 text-white rounded-sm hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600">
                Enviar
            </button>
        </form>
    </div>
</div>
{% endblock %}
