{% extends 'core/base.html' %}

{% block title %}Libros{% endblock %}

{% block content %}
<br>
    <div class="col-span-1 bg-blue-900 p-6">
        <form method="get" action="{% url 'libro:libros' %}">
            <input name="consulta" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ consulta }}" placeholder="Buscar Libro">
        <br>
        <br>
            <button class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Buscar</button>
        </form>

        <hr class="my-6">

        <p class="text-green-600 text-3xl font-bold text-center underline">Buscar por Categoria</p>
        <br>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
            {% for categoria in categorias %}
                <a href="{% url 'libro:libros' %}?consulta={{ consulta }}&categoria={{ categoria.id }}" class="flex-1 font-bold text-xl bg-white px-6 py-3 rounded-xl">
                    <span class="text-center block">{{ categoria.name }}</span>
                </a>
            {% endfor %}
        </div>

        <div class="flex flex-col items-center mt-6">
            <a href="{% url 'libro:libros' %}" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                Limpiar Filtro
            </a>
        </div>
        
        <hr class="my-6">

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {% for libro in libros %}
                <div class="group relative">
                    <a href="{% url 'libro:detalles' libro.pk %}">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                            <img src="{{ libro.imagen.url }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                    </a>
                    <div class="bg-white mt-4 p-4 flex justify-between items-center rounded-lg shadow-md">
                        <div>
                            <h3 class="text-lg font-semibold text-gray-700">
                                <a href="{% url 'libro:detalles' libro.pk %}" class="hover:text-gray-900 transition duration-300">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                    {{ libro.nombre }}
                                </a>
                            </h3>
                            <p class="mt-2 text-sm text-gray-500">Categoría: {{ libro.categoria.name }}</p>
                        </div>
                        <div class="text-lg font-bold text-gray-900">
                            {{ libro.precio }} €
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
