{% extends 'core/base.html' %}

{% block title %} Panel {% endblock %}

{% block content %}
<div class="bg-white">
  <div class="bg-blue-100 mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Mis Libros</h2>

      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          {% for libro in libros %}
          <div class="group relative">
              <a href="{% url 'libro:detalles' libro.pk %}">
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                      <img src="{{ libro.imagen.url }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                  </div>
              </a>
              <div class="bg-white mt-4 p-4 flex justify-between items-center rounded-lg shadow-md">
                  <div>
                      <h3 class="text-lg font-semibold text-gray-700">
                          <a href="{% url 'libro:detalles' libro.pk %}" class="hover:text-gray-900 transition duration-300">
                              <span aria-hidden="true" class="absolute inset-0"></span>
                              {{ libro.nombre }}
                          </a>
                      </h3>
                      <p class="mt-2 text-sm text-gray-500">Categoría: {{ libro.categoria.name }}</p>
                  </div>
                  <div class="text-lg font-bold text-gray-900">
                      {{ libro.precio }} €
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% endblock %}